<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyDyXukiiOESTxJSc7NLK0qRPCDO3-8ArNM</string>
	<key>GCM_SENDER_ID</key>
	<string>262887176934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marom.Blumenfeld</string>
	<key>PROJECT_ID</key>
	<string>blumenfeld-cart</string>
	<key>STORAGE_BUCKET</key>
	<string>blumenfeld-cart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:262887176934:ios:175473a5d7a39079fad927</string>
	<key>DATABASE_URL</key>
	<string>https://blumenfeld-cart-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
